<button (click)="search()">  Поиск </button>

<div *ngFor="let item of results; let i=index">
    {{item | json}}
</div>
<table *ngFor="let item of results; let i=index">
  <tr>
    <td>Станция:</td>
    <td>{{item.station}}</td>
  </tr>
  <tr>
    <td>Блюдо:</td>
    <td>{{item.position}}</td>
  </tr>
  <tr>
    <td>Цена:</td>
    <td>{{item.price}}</td>
  </tr>
  <tr>
    <td>Время доставки:</td>
    <td>{{item.deliveryTime}}</td>
  </tr>
  <tr>
    <td>Тип блюда:</td>
    <td>{{item.type}}</td>
  </tr>
  <tr>
    <td>Дополнительные характеристики:</td>
    <td>
      <ul>
        <li>Кошерное -  {{item.kosher}}</li>
        <li>Вегетарианское - {{item.vegan}} </li>
        <li>Диетическое - {{item.diet}} </li>
        <li>Халяльное -  {{item.halal}}</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>url Фото</td>
    <td class="url">{{item.mainImageUrl}}</td>
  </tr>
  <tr>
    <td>Описание:</td>
    <td>{{item.description}}</td>
  </tr>
  <tr>
    <td>Состав:</td>
    <td>{{item.indigridients}}</td>
  </tr>
  <tr>
    <td>Время доступности:</td>
    <td>
      <ul>
        <li>{{item.timeslotStart1}} - {{item.timeslotFinish1}}</li>
        <li>{{item.timeslotStart2}} - {{item.timeslotFinish2}}</li>
        <li>{{item.timeslotStart3}} - {{item.timeslotFinish3}}</li>
        <li>{{item.timeslotStart4}} - {{item.timeslotFinish4}}</li>
      </ul>
    </td>
  </tr>
</table>
